.parent-container {
    text-align: center;
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
  }
  
  .button-container {
    margin-top: 30px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  
  .child-container {
    margin-top: 50px;
  }
  
  
  
   