<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifecycle hooks</title>
</head>
<body>
<div class="child-content">
    This is the child component.
  </div>
  <div class="counter">
    Counter: {{ counter }}
  </div>

  <div class="child-container">
    <p class="lifecycle-hook">Lifecycle Hooks:</p>
    <ul>
        <li class="lifecycle-hook">ngOnInit</li>
        <li class="lifecycle-hook">ngOnChanges</li>
        <li class="lifecycle-hook">ngDoCheck</li>
        <li class="lifecycle-hook">ngAfterContentInit</li>
        <li class="lifecycle-hook">ngAfterContentChecked</li>
        <li class="lifecycle-hook">ngAfterViewInit</li>
        <li class="lifecycle-hook">ngAfterViewChecked</li>
        <li class="lifecycle-hook">ngOnDestroy</li>
    </ul>
</div>


</body>
</html>
  

